@charset "UTF-8";
/* Segoe UI */
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI-SemiboldItalic.eot");
  src: url("../fonts/subset-SegoeUI-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-SemiboldItalic.woff2") format("woff2"), url("../fonts/subset-SegoeUI-SemiboldItalic.woff") format("woff"), url("../fonts/subset-SegoeUI-SemiboldItalic.ttf") format("truetype"), url("../fonts/subset-SegoeUI-SemiboldItalic.svg#SegoeUI-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI.eot");
  src: url("../fonts/subset-SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI.woff2") format("woff2"), url("../fonts/subset-SegoeUI.woff") format("woff"), url("../fonts/subset-SegoeUI.ttf") format("truetype"), url("../fonts/subset-SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI-Italic.eot");
  src: url("../fonts/subset-SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-Italic.woff2") format("woff2"), url("../fonts/subset-SegoeUI-Italic.woff") format("woff"), url("../fonts/subset-SegoeUI-Italic.ttf") format("truetype"), url("../fonts/subset-SegoeUI-Italic.svg#SegoeUI-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI-Bold.eot");
  src: url("../fonts/subset-SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-Bold.woff2") format("woff2"), url("../fonts/subset-SegoeUI-Bold.woff") format("woff"), url("../fonts/subset-SegoeUI-Bold.ttf") format("truetype"), url("../fonts/subset-SegoeUI-Bold.svg#SegoeUI-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUIBlack-Italic.eot");
  src: url("../fonts/subset-SegoeUIBlack-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUIBlack-Italic.woff2") format("woff2"), url("../fonts/subset-SegoeUIBlack-Italic.woff") format("woff"), url("../fonts/subset-SegoeUIBlack-Italic.ttf") format("truetype"), url("../fonts/subset-SegoeUIBlack-Italic.svg#SegoeUIBlack-Italic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUIBlack.eot");
  src: url("../fonts/subset-SegoeUIBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUIBlack.woff2") format("woff2"), url("../fonts/subset-SegoeUIBlack.woff") format("woff"), url("../fonts/subset-SegoeUIBlack.ttf") format("truetype"), url("../fonts/subset-SegoeUIBlack.svg#SegoeUIBlack") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Semilight';
  src: url("../fonts/subset-SegoeUI-Semilight.eot");
  src: url("../fonts/subset-SegoeUI-Semilight.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-Semilight.woff2") format("woff2"), url("../fonts/subset-SegoeUI-Semilight.woff") format("woff"), url("../fonts/subset-SegoeUI-Semilight.ttf") format("truetype"), url("../fonts/subset-SegoeUI-Semilight.svg#SegoeUI-Semilight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI-BoldItalic.eot");
  src: url("../fonts/subset-SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-BoldItalic.woff2") format("woff2"), url("../fonts/subset-SegoeUI-BoldItalic.woff") format("woff"), url("../fonts/subset-SegoeUI-BoldItalic.ttf") format("truetype"), url("../fonts/subset-SegoeUI-BoldItalic.svg#SegoeUI-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI-Light.eot");
  src: url("../fonts/subset-SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-Light.woff2") format("woff2"), url("../fonts/subset-SegoeUI-Light.woff") format("woff"), url("../fonts/subset-SegoeUI-Light.ttf") format("truetype"), url("../fonts/subset-SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Semilight';
  src: url("../fonts/subset-SegoeUI-SemilightItalic.eot");
  src: url("../fonts/subset-SegoeUI-SemilightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-SemilightItalic.woff2") format("woff2"), url("../fonts/subset-SegoeUI-SemilightItalic.woff") format("woff"), url("../fonts/subset-SegoeUI-SemilightItalic.ttf") format("truetype"), url("../fonts/subset-SegoeUI-SemilightItalic.svg#SegoeUI-SemilightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI-LightItalic.eot");
  src: url("../fonts/subset-SegoeUI-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-LightItalic.woff2") format("woff2"), url("../fonts/subset-SegoeUI-LightItalic.woff") format("woff"), url("../fonts/subset-SegoeUI-LightItalic.ttf") format("truetype"), url("../fonts/subset-SegoeUI-LightItalic.svg#SegoeUI-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/subset-SegoeUI-Semibold.eot");
  src: url("../fonts/subset-SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-SegoeUI-Semibold.woff2") format("woff2"), url("../fonts/subset-SegoeUI-Semibold.woff") format("woff"), url("../fonts/subset-SegoeUI-Semibold.ttf") format("truetype"), url("../fonts/subset-SegoeUI-Semibold.svg#SegoeUI-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

/* Gotham Pro */
/* This stylesheet generated by Transfonter (https://transfonter.org) on June 26, 2017 12:11 PM */
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("../fonts/GothamPro/GothamPro-BoldItalic"), url("../fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("../fonts/GothamPro/GothamPro-Italic"), url("../fonts/GothamPro/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("../fonts/GothamPro/GothamPro-Medium"), url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("../fonts/GothamPro/GothamPro-BlackItalic"), url("../fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("../fonts/GothamPro/GothamPro-Bold"), url("../fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamPro/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("../fonts/GothamPro/GothamProNarrow-Bold"), url("../fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamPro/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("../fonts/GothamPro/GothamProNarrow-Medium"), url("../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProNarrow-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("../fonts/GothamPro/GothamPro-LightItalic"), url("../fonts/GothamPro/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("../fonts/GothamPro/GothamPro-Light"), url("../fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("../fonts/GothamPro/GothamPro-Black"), url("../fonts/GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: local("Gotham Pro"), local("../fonts/GothamPro/GothamPro"), url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("../fonts/GothamPro/GothamPro-MediumItalic"), url("../fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

/* reset */
*:focus {
  outline: none !important; }

* ::-moz-input-placeholder {
  -webkit-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  opacity: .7; }

* ::-webkit-input-placeholder {
  -webkit-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  opacity: .7;
  text-align: center; }

* ::-ms-input-placeholder {
  -webkit-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  opacity: .7; }

* :hover::-moz-input-placeholder {
  opacity: 1; }

* :hover::-webkit-input-placeholder {
  opacity: 1; }

* :hover::-ms-input-placeholder {
  opacity: 1; }

* :focus::-moz-input-placeholder {
  opacity: 0; }

* :focus::-webkit-input-placeholder {
  opacity: 0; }

* :focus::-ms-input-placeholder {
  opacity: 0; }

body {
  font-family: "Gotham Pro", "Segoe UI", apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-size: -webkit-calc( 100vw / 1920 * 16);
  font-size: calc( 100vw / 1920 * 16);
  font-weight: 400;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg.jpg") #1d1c20 no-repeat top center/cover;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.h1, .h2 {
  color: white; }

.h1 {
  font-size: 3.75em; }

.h2 {
  font-size: 1.375em; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer; }

a {
  text-decoration: none; }

/* style pages */
/* defoult classes start */
.container {
  width: 100%;
  padding: 3.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* header */
header {
  height: 8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0; }

.logo {
  width: 14.75em; }
  .logo img {
    width: 100%; }

/* btn */
.btn {
  border: 1px solid transparent;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: rgba(255, 255, 255, 0.5);
  padding: .5em 1em;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  cursor: pointer; }
  .btn:hover {
    color: white; }

.btn-opacity {
  width: 13em;
  border: 1px solid #AD0838;
  color: white;
  position: relative; }
  .btn-opacity p {
    -webkit-transform: translateX(-1em);
        -ms-transform: translateX(-1em);
            transform: translateX(-1em); }
  .btn-opacity:hover, .btn-opacity.active-item {
    background-color: #FF0048;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
  .btn-opacity i {
    position: absolute;
    right: .5em; }

.btn-simple {
  border-color: white;
  padding: 1em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase; }

.nav-wraper {
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  -webkit-flex-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit; }
  .nav-wraper button + button {
    margin-left: 5em; }

.menu-btn {
  width: 7em;
  border: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em; }
  .menu-btn:hover .menu-ico span:last-child {
    background-color: #FF0048; }
  .menu-btn.open-menu .menu-ico {
    position: relative; }
    .menu-btn.open-menu .menu-ico span {
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      position: absolute; }
      .menu-btn.open-menu .menu-ico span:first-child {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .menu-btn.open-menu .menu-ico span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .menu-btn.open-menu .menu-ico span:last-child {
        width: 0;
        opacity: 0; }

.menu-ico {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 2em; }
  .menu-ico span {
    display: inline-block;
    background-color: #fff;
    height: 1px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .menu-ico span:not(:last-child) {
    width: 1.8125em; }
  .menu-ico span:last-child {
    width: 1.4375em; }

.social-buttons {
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(3em);
      -ms-transform: translateY(-50%) translateX(3em);
          transform: translateY(-50%) translateX(3em);
  top: 50%;
  z-index: 999; }
  .social-buttons ul li {
    margin: 1em 0; }
    .social-buttons ul li a {
      -webkit-writing-mode: tb-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: tb-rl;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      font-size: 1em;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      font-family: 'Gotham Pro'; }
      .social-buttons ul li a:hover {
        color: #FF0048;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }

/* main menu */
.main-menu {
  position: absolute;
  right: 16em;
  top: -100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .main-menu.open-menu {
    top: 8.2em;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .main-menu ul {
    text-align: right; }
    .main-menu ul li.large-item a {
      color: white;
      font-size: 3.75em;
      font-weight: 700; }
    .main-menu ul li.small-item a {
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.875em; }
    .main-menu ul li a {
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .main-menu ul li:hover a, .main-menu ul li.active-item a {
      color: #FF0048;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }

/* content */
.content {
  position: absolute;
  left: 50%;
  top: 8em;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: 0; }
  .content.is-active {
    opacity: 1; }
  .content.open-menu {
    left: -100% !important;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0; }

.title {
  color: white;
  margin-bottom: 2.375em; }

.subtitle {
  color: rgba(255, 255, 255, 0.6); }

/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  footer .container {
    padding-top: 0;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 2em; }

/* defoult classes end */
/* home start*/
.main .title-slider, .main .title-nav {
  font-size: 1.875em;
  color: rgba(255, 255, 255, 0.8); }

.main .subtitle-slider {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
  margin: 1em 0; }

.nav-forms ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.nav-forms .title-nav {
  margin: 1.25em 0; }

/* home end */
/* slider start*/
.slides-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.slides-line {
  width: 57em;
  height: 18.3125em;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden; }
  .slides-line > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    height: 100%; }
    .slides-line > ul > li {
      width: 13.65em;
      height: inherit;
      background-color: rgba(255, 255, 255, 0);
      padding-right: .6875em; }
      .slides-line > ul > li img {
        width: 100%; }

.btn-slide {
  border: none; }

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .arrow i {
    color: white;
    -webkit-transform: translateX(0.1em);
        -ms-transform: translateX(0.1em);
            transform: translateX(0.1em); }

/* slider end */
.services .slides-line {
  font-size: 1.5em;
  height: 21.3125em;
  width: 59em; }
  .services .slides-line > ul > li {
    background: #25252a no-repeat center top / cover;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    padding-right: unset;
    width: 14.65em;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .services .slides-line > ul > li:hover, .services .slides-line > ul > li.active-item {
      background-image: url(../img/service_1.png);
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .services .slides-line > ul > li:hover .btn-simple, .services .slides-line > ul > li.active-item .btn-simple {
        background-color: #FF0048;
        color: white;
        border-color: #FF0048; }
    .services .slides-line > ul > li ul {
      text-align: left; }

.services .card {
  padding: 0 1.45833333333em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.services .card-title {
  padding: 1.4em 0; }
  .services .card-title .h2 {
    font-size: 0.916666666667em; }

.services .items-card {
  padding-bottom: 1em; }
  .services .items-card li p {
    font-size: 0.541666666667em;
    color: white; }
  .services .items-card li + li {
    margin-top: 0.716666666667em; }

.services .card-price {
  font-size: 1.33333333333em;
  color: white;
  font-weight: 500; }

.services .btn {
  margin-top: 1em; }

.services .description-service a {
  text-decoration: underline;
  color: white;
  font-size: 0.583333333333em; }

.progressbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .progressbar .progress-wraper {
    position: relative;
    width: 20.25em;
    height: .3125em;
    background-color: #848484;
    -webkit-border-radius: 12px;
            border-radius: 12px; }
  .progressbar .progress-line {
    position: absolute;
    height: inherit;
    width: 25%;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    background-color: #FF0048; }
  .progressbar .counter {
    font-size: 1.375em;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 1.5em; }

/* contact start*/
.contacts {
  top: 0; }

.wraper-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/bg-contact.jpg) no-repeat top center/cover; }

.contact-info,
.contact-form {
  margin-top: 12em; }

.contact-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 14.875em; }
  .contact-info .contact-item {
    position: relative;
    font-size: 1.5em;
    color: white;
    margin-top: 3.125em; }
    .contact-info .contact-item p {
      padding: 0;
      margin: 0;
      text-align: left; }
    .contact-info .contact-item::before {
      content: '';
      position: absolute;
      top: -2em;
      left: 0;
      color: rgba(255, 255, 255, 0.7); }
    .contact-info .contact-item:nth-child(2)::before {
      content: 'Телефон'; }
    .contact-info .contact-item:nth-child(3)::before {
      content: 'Адрес'; }
    .contact-info .contact-item:nth-child(4)::before {
      content: 'Email'; }

.contact-form {
  background-color: #252527;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 14.875em;
  width: 20em;
  padding: 2em; }
  .contact-form .title-form {
    text-transform: uppercase;
    font-size: 1.25em;
    color: white; }
  .contact-form .description-form {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 1em; }
  .contact-form .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: auto; }
    .contact-form .input-group > * {
      margin-top: 2em; }
    .contact-form .input-group .btn-opacity.active-btn {
      background-color: white;
      color: black;
      border-color: white; }

/* contact end*/
.parley {
  visibility: hidden; }
  .parley .title {
    margin: 5em 0; }

.input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3.125em 0;
  width: 56em; }

.btn-opacity.active-btn {
  background-color: #FF0048;
  color: white;
  border-color: #FF0048; }

.form-group input {
  background-color: transparent;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  height: 2em;
  color: white;
  text-align: center; }

.pageofthanks {
  visibility: hidden; }
  .pageofthanks .title {
    margin-top: 5em; }
  .pageofthanks .btn-opacity.active-btn {
    background-color: white;
    color: black;
    border-color: white;
    text-transform: uppercase; }
  .pageofthanks .input-group {
    margin-top: 1em; }
  .pageofthanks .subtitle + .subtitle {
    margin-top: 5em; }

/* result start */
.result-bar {
  height: 14em;
  margin-top: 8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.result-line {
  position: relative;
  width: 80vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  background-color: white; }

ul.points {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%; }
  ul.points li {
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    ul.points li:nth-child(odd) .points-description {
      top: 4em; }
    ul.points li:nth-child(even) .points-description {
      bottom: 4em; }
    ul.points li .points-description {
      position: absolute;
      width: 20em; }
    ul.points li .point-title {
      font-size: 3em;
      font-family: 'Gotham Pro';
      font-weight: 900;
      text-shadow: 0px 0px 1px #AD0838, 1px 1px 1px #AD0838, -1px -1px 1px #AD0838, -1px 0px 1px #AD0838, 0px -1px 1px #AD0838; }
    ul.points li .point-subtitle {
      font-size: 1.0625em;
      color: white;
      margin-top: 1em; }
    ul.points li .point {
      position: absolute;
      width: 1.3em;
      height: 1.3em;
      border: 1px solid white;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: black;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      ul.points li .point span {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        width: .75em;
        height: .75em;
        background-color: white;
        display: block; }

/* result end */
