

$containerwidth: 100%;
$containerpadding: 3.5em;
$headerheigth: 8em;

$bodyBgColor: #1d1c20;
$activesColor: #FF0048;
$accentColor: #AD0838;
$accentBgColor: #EBF2F7;
$generalFont: 'IBM Plex Sans', apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;