/* defolt classes */

.container {
  width: $containerwidth;
  padding: $containerpadding;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  height: $headerheigth;
  display: flex;
  align-items: center;
}
.logo {
  width: 14.75em;
  img {
    width: 100%;
  }
}

.content {
  visibility: hidden;
  opacity: 0;
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.btn {
  border: 1px solid transparent;
  border-radius: 24px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(255,255,255,.5);
  padding: .5em 1em;
  transition: all .25s;
  cursor: pointer;
  &:hover {
    color: rgba(255,255,255,1);
  }
}
.btn-opacity {
  width: 13em;
  border: 1px solid $accentColor;
  color: white;
  position: relative;
  p {
    transform: translateX(-1em);
  }

  &:hover, &.active-item {
    background-color: $activesColor;
    transition: all .25s;
  }

  i {
    position: absolute;
    right: .5em;
  }
}
.btn-simple {
  border-color: white;
  padding: 1em 2em;
  width: fit-content;
  text-transform: uppercase;
}
.nav-wraper {
  display: inherit;
  flex-direction: inherit;
  button + button {
    margin-left: 5em;
  }
}
.menu-btn {
  width: 7em;
  border: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  color: white;
  align-items: center;
  font-size: 1em;

  &:hover {
    .menu-ico {
      span {
        &:last-child {
          background-color: $activesColor;
          //transition: all .5s;
        }
      }
    }

  }

  &.open-menu{

    .menu-ico {
      position: relative;
      span {
        transition: all .5s;
        position: absolute;
        &:first-child {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:last-child {
          width: 0;
          opacity: 0;
        }
      }

    }
  }
}
.menu-ico {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 2em;

  span {
    display: inline-block;
    background-color: #fff;
    height: 1px;
    transition: all .5s;
  }
  span:not(:last-child) {
    width: 1.8125em;
  }
  span:last-child {
    width: 1.4375em;
  }

}
.social-buttons {
  position: absolute;
  transform: translateY(-50%) translateX(3em);
  top: 50%;
  ul {
    li {
      margin: 1em 0;
      a {
        writing-mode: tb-rl;
        transform:rotate(180deg);
        font-size: 1em;
        color: rgba(255,255,255,.5);
        transition: all .5s;

        &:hover {
          color: $activesColor;
          transition: all .5s;
        }
      }
    }
  }
}

.main-menu {
  position: absolute;
  right: 16em;
  top: -100%;
  transition: all .5s;

  &.open-menu {
    top: 8.2em;
    transition: all .5s;
  }

  ul {
    text-align: right;

    li {
      &.large-item {
        a {
          color: white;
          font-size: 3.75em;
          font-weight: $bold;
        }
      }
      &.small-item {
        a {
          color: rgba(255,255,255,.7);
          font-size: 1.875em;
        }
      }
      a {
        transition: all .5s;
      }
      &:hover, &.active-item {
        a {
          color: $activesColor;
          transition: all .5s;
        }
      }
    }
  }
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all .5s;

  &.open-menu {
    left: -100%;
    transition: all .5s;
    opacity: 0;
  }
}

.title {
  color: white;
  margin-bottom: 2.375em;
}
.subtitle {
  color: rgba(255,255,255,.6);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .container {
    padding-top: 0;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
  }
}