.main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  .title {
    color: white;
    margin-bottom: 4.375em;
  }
  .title-slider, .title-nav {
    font-size: 1.875em;
    color: rgba(255,255,255,.8);
  }
  .subtitle-slider {
    font-size: 1em;
    color: rgba(255,255,255,.5);
    margin: 1em 0;
  }

  .nav-forms {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .title-nav {
      margin: 1.25em 0;
    }
  }
}
.slides-wrapper {
  display: flex;
  flex-direction: row;
}
.slides-line {
  width: 57em;
  height: 18.3125em;
  background-color: rgba(255,255,255,0);
  position: relative;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    li {
      width: 13.75em;
      height: 18em;
      background-color: rgba(255,255,255,0);
      margin-right: .6875em;

      img {
        width: 100%;
      }
    }
  }
}
.btn-slide {
  border: none;
}
.arrow {
  display: flex;
  align-items: center;

  i {
    color: white;
  }
}