.parley{
  visibility: hidden;

  .title {
    margin: 5em 0;
  }

}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 3.125em 0;
  width: 56em;
}
.btn-opacity {
  &.active-btn {
    background-color: $activesColor;
    color: white;
    border-color: $activesColor;
  }
}
.form-group {
  input {
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,.7);
    height: 2em;
    color: white;
    text-align: center;
  }
}

