.services {

  .slides-line {
    font-size: 1.5em;
    height: 21.3125em;
    width: 59em;

    & > ul {
      & > li {
        background:  #25252a no-repeat center top / cover;
        transform: scale(.95);
        padding-right: unset;
        width: 14.65em;
        transition: all .5s;

        &:hover, &.active-item {
          background-image: url(../img/service_1.png);
          transition: all .5s;

          .btn-simple {
            background-color: $activesColor;
            color: white;
            border-color: $activesColor;
          }
        }

        ul {
          text-align: left;
        }
      }
    }

  }
  .card {
    padding: 0 1.45833333333em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-title {
    padding: 1.4em 0;
    .h2 {
      font-size: 0.916666666667em;
    }
  }
  .items-card {
    padding-bottom: 1em;
    li {
      p {
        font-size: 0.541666666667em;
        color: white;
      }
      & + li {
        margin-top: 0.716666666667em;
      }
    }
  }
  .card-price {
    font-size: 1.33333333333em;
    color:white;
    font-weight: $medium;
  }
  .btn {
    margin-top: 1em;
  }
  .description-service {
    a {
      text-decoration: underline;
      color: white;
      font-size: 0.583333333333em;
    }
  }
}
.progressbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .progress-wraper {
    position: relative;
    width: 20.25em;
    height: .3125em;
    background-color: #848484;
    border-radius: 12px;
  }

  .progress-line {
    position: absolute;
    height: inherit;
    width: 25%;
    border-radius: 12px;
    background-color: $activesColor;
  }

  .counter {
    font-size: 1.375em;
    color: rgba(255,255,255,.7);
    margin-left: 1.5em;
  }
}